body { 

     margin: 0;
    padding: 0;

    background-image: url(Convite\ Casamento\ Ana\ Beatriz\ &\ Leonardo\ \(2\).png); 
    background-size: cover;      /* faz a imagem ocupar a tela inteira */
    background-position: center; /* centraliza */
    background-repeat: no-repeat;/* não repete a imagem */
    height: 100vh;     
    
}

.box {
  
  position: absolute;
  top: 50%;        /* empurra para baixo até o meio */
  left: 50%;       /* empurra para direita até o meio */
  transform: translate(-50%, -50%);  /* corrige o centro */
  
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column; /* deixa tudo em coluna (um embaixo do outro) */
  align-items: center;    /* alinha no centro */
  gap: 5px;              /* espaço entre input e botão */


}


.escrita
{
    width: 250px;
    height: 250px;
    background-image: url(colocar_nomer.png);
    background-color: transparent;
    background-size: cover;      /* imagem preenchendo */
    background-position: center;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;  


}
.escrita:focus {

    outline: none;   /* remove a borda padrão */
    border: none;    /* garante que nada apareça */

}


.aceitar {
    padding: 10px 20px;
    cursor: pointer;
    background-image: url(quadrado.png);
    background-color: transparent;
    background-size: cover;      /* imagem preenchendo */
    background-position: center;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;  


}

.Voltar
{
    padding: 10px 20px;
    cursor: pointer;
    background-image: url(quadrado.png);
    background-color: transparent;
    background-size: cover;      /* imagem preenchendo */
    background-position: center;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    top: 90%;        /* empurra para baixo até o meio */
    left: 50%;       /* empurra para direita até o meio */
    transform: translate(-50%, -50%);  /* corrige o centro */  


}