body { 

     margin: 0;
    padding: 0;

    background-image: url(Convite\ Casamento\ Ana\ Beatriz\ &\ Leonardo\ \(3\).png); 
    background-size: cover;      /* faz a imagem ocupar a tela inteira */
    background-position: center; /* centraliza */
    background-repeat: no-repeat;/* não repete a imagem */
    height: 100vh;     
    
}

.Voltar
{
    padding: 10px 20px;
    cursor: pointer;
    background-image: url(quadrado.png);
    background-color: transparent;
    background-size: cover;      /* imagem preenchendo */
    background-position: center;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    top: 90%;        /* empurra para baixo até o meio */
    left: 50%;       /* empurra para direita até o meio */
    transform: translate(-50%, -50%);  /* corrige o centro */  


}